// skeletyl_right.overlay

#include "../../../aysu.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&gpio1 4 GPIO_ACTIVE_HIGH>  // Col 1 (D8)
        , <&gpio0 20 GPIO_ACTIVE_HIGH> // Col 2 (D3)
        , <&gpio0 24 GPIO_ACTIVE_HIGH> // Col 3 (D5)
        , <&gpio0 22 GPIO_ACTIVE_HIGH> // Col 4 (D4)
        , <&gpio1 0 GPIO_ACTIVE_HIGH>  // Col 5 (D6)
        , <&gpio0 11 GPIO_ACTIVE_HIGH> // Col 6 (D7)
        ;

    row-gpios
        = <&gpio1 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 1 (D15)
        , <&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 2 (D18)
        , <&gpio1 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 3 (D14)
        , <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // Row 4 (D19)
        , <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 5 (D16)
        ;
};
