#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ----------------------------------------------------------------------------
// Layer 0: alpha
// Left (cols 0-6)                    | Right (cols 8-13, offset +7)
// ----------------------------------------------------------------------------
// Row 0 (top): 1 2 3 4 5 6          | 7 8 9 0 - C-S-O
// Row 1:       2 Q W E R T          | Y U I O P BSPC
// Row 2 (mid): 3 A S D F G SPC      | ESC H N M L SPC RET
// Row 3:       4 Z X C V B          | C-S-O J K , UP .
// Row 4 (bot): 7 6 8 9 0 1          | 1 2 3 LFT DWN RGT
// ----------------------------------------------------------------------------
            bindings = <
    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6     &kp N7    &kp N8    &kp N9    &kp N0    &kp MINUS &kp LC(LS(O))
    &kp N2    &kp Q     &kp W     &kp E     &kp R     &kp T      &kp Y     &kp U     &kp I     &kp O     &kp P     &kp BSPC
    &kp N3    &kp A     &kp S     &kp D     &kp F     &kp G     &kp SPACE  &kp ESC   &kp H     &kp N     &kp M     &kp L     &kp SPACE &kp RET
    &kp N4    &kp Z     &kp X     &kp C     &kp V     &kp B      &kp LC(LS(O)) &kp J  &kp K     &kp COMMA &kp UP    &kp DOT
    &kp N7    &kp N6    &kp N8    &kp N9    &kp N0    &kp N1     &kp N1    &kp N2    &kp N3    &kp LEFT  &kp DOWN  &kp RIGHT
            >;
        };
    };
};
